<a href="https://colab.research.google.com/github/Vidyadhari5701/my-1-repo/blob/main/Movie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
import os
os.environ['KAGGLE_CONFIG_DIR']='/content/gdrive/My Drive/kaggle_dataset'
%cd /content/gdrive/My Drive/kaggle_dataset

Mounted at /content/gdrive
/content/gdrive/My Drive/kaggle_dataset

In [ ]:
!kaggle datasets download -d tmdb/tmdb-movie-metadata

Downloading tmdb-movie-metadata.zip to /content/gdrive/My Drive/kaggle_dataset
 68% 6.00M/8.89M [00:00<00:00, 58.3MB/s]
100% 8.89M/8.89M [00:00<00:00, 56.2MB/s]

In [ ]:
!ls

 cat-and-dog	        red-wine-quality-cortez-et-al-2009
 cat_dog	        sample_submission.csv
 cinemaTicket_Ref.csv   simi.pkl
 fish_market	        test.csv
 fish-market	        test.csv.zip
 flower		       'test.csv.zip (Unzipped Files)'
 flowers	        train.csv
 insurance	        train.csv.zip
 kaggle.json	       'train.csv.zip (Unzipped Files)'
 movie		        water-portability
 movies_dict.pkl        water-potability
 poster_path.pkl

In [ ]:
import pandas as pd

In [ ]:
movies_p = "/content/gdrive/My Drive/kaggle_dataset/movie/tmdb_5000_movies.csv"
credits_p = "/content/gdrive/My Drive/kaggle_dataset/movie/tmdb_5000_credits.csv"

In [ ]:
df=pd.read_csv(movies_p)
c_df=pd.read_csv(credits_p)

In [ ]:
df.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [ ]:
df.isna().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [ ]:
movies = df[['id','title','overview','genres','keywords']]

In [ ]:
c_df.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 4 columns]

In [ ]:
movies = movies.merge(c_df,on='title')

In [ ]:
movies.head()

       id  ...                                               crew
0   19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1     285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3   49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4   49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 8 columns]

In [ ]:
import ast

In [ ]:
def convert_genre(col):
  l=[]
  for i in ast.literal_eval(col):
    l.append(i['name'])
  return l

def convert_crew(col):
  l=[]
  for i in ast.literal_eval(col):
    if i['job'] == 'Director':
      l.append(i['name'])
  return l

def convert_Keywords(col):
  l=[]
  for i in ast.literal_eval(col):
    l.append(i['name'])
  return l

def convert_cast(col):
  l=[]
  c=0
  for i in ast.literal_eval(col):
    if c>=3:
      break
    else:
      l.append(i['name'])
  return l

In [ ]:
movies.isna().sum()

id          0
title       0
overview    3
genres      0
keywords    0
movie_id    0
cast        0
crew        0
dtype: int64

In [ ]:
movies.dropna(inplace=True)

In [ ]:
movies['genres'] = movies['genres'].apply(convert_genre)
movies['cast'] = movies['cast'].apply(convert_cast)
movies['crew'] = movies['crew'].apply(convert_crew)

In [ ]:
movies['keywords'] = movies['keywords'].apply(convert_Keywords)

In [ ]:
movies.head()

       id  ...                 crew
0   19995  ...      [James Cameron]
1     285  ...     [Gore Verbinski]
2  206647  ...         [Sam Mendes]
3   49026  ...  [Christopher Nolan]
4   49529  ...     [Andrew Stanton]

[5 rows x 8 columns]

In [ ]:
movies = movies.drop(columns='movie_id')

In [ ]:
movies.head()

       id  ...                 crew
0   19995  ...      [James Cameron]
1     285  ...     [Gore Verbinski]
2  206647  ...         [Sam Mendes]
3   49026  ...  [Christopher Nolan]
4   49529  ...     [Andrew Stanton]

[5 rows x 7 columns]

In [ ]:
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])

In [ ]:
movies['overview'] = movies['overview'].apply(lambda x:x.split(" "))

In [ ]:
movies.head()

       id  ...                crew
0   19995  ...      [JamesCameron]
1     285  ...     [GoreVerbinski]
2  206647  ...         [SamMendes]
3   49026  ...  [ChristopherNolan]
4   49529  ...     [AndrewStanton]

[5 rows x 7 columns]

In [ ]:
movies['tags'] = movies['overview'] + movies['keywords'] + movies['genres'] + movies['cast'] + movies['crew']

In [ ]:
movies.head()

       id  ...                                               tags
0   19995  ...  [In, the, 22nd, century,, a, paraplegic, Marin...
1     285  ...  [Captain, Barbossa,, long, believed, to, be, d...
2  206647  ...  [A, cryptic, message, from, Bond’s, past, send...
3   49026  ...  [Following, the, death, of, District, Attorney...
4   49529  ...  [John, Carter, is, a, war-weary,, former, mili...

[5 rows x 8 columns]

In [ ]:
movies = movies.drop(columns= ['overview','genres','keywords','cast','crew'])

In [ ]:
movies.head()

       id  ...                                               tags
0   19995  ...  [In, the, 22nd, century,, a, paraplegic, Marin...
1     285  ...  [Captain, Barbossa,, long, believed, to, be, d...
2  206647  ...  [A, cryptic, message, from, Bond’s, past, send...
3   49026  ...  [Following, the, death, of, District, Attorney...
4   49529  ...  [John, Carter, is, a, war-weary,, former, mili...

[5 rows x 3 columns]

In [ ]:
movies['tags'] = movies['tags'].apply(lambda x: " ".join(x))

In [ ]:
movies.head()

       id  ...                                               tags
0   19995  ...  In the 22nd century, a paraplegic Marine is di...
1     285  ...  Captain Barbossa, long believed to be dead, ha...
2  206647  ...  A cryptic message from Bond’s past sends him o...
3   49026  ...  Following the death of District Attorney Harve...
4   49529  ...  John Carter is a war-weary, former military ca...

[5 rows x 3 columns]

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [ ]:
vector = cv.fit_transform(movies['tags']).toarray()

In [ ]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
vector.shape

(4806, 5000)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

In [ ]:
similarity

array([[1.        , 0.07059312, 0.05083286, ..., 0.02273314, 0.02541643,
        0.        ],
       [0.07059312, 1.        , 0.07715167, ..., 0.02300219, 0.        ,
        0.        ],
       [0.05083286, 0.07715167, 1.        , ..., 0.0248452 , 0.        ,
        0.        ],
       ...,
       [0.02273314, 0.02300219, 0.0248452 , ..., 1.        , 0.0745356 ,
        0.0496904 ],
       [0.02541643, 0.        , 0.        , ..., 0.0745356 , 1.        ,
        0.05555556],
       [0.        , 0.        , 0.        , ..., 0.0496904 , 0.05555556,
        1.        ]])

In [ ]:
def recommend(movie):
    index = movies[movies['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(movies.iloc[i[0]].title)

In [ ]:
recommend('Batman')

Batman
Batman & Robin
Batman
Batman Returns
The Dark Knight Rises

In [ ]:
import pickle

In [ ]:
pickle.dump(movies.to_dict(),open('movies_dict.pkl','wb'))

In [ ]:
pickle.dump(similarity,open('simi.pkl','wb'))

In [ ]:
pickle.dump(,open('poster_path.pkl','wb'))

NameError: ignored